* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-color: #00FA9A;
} 

.logo{
    width: 300px;
    display: block;
    margin: 20px auto;
}